.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 45px;
    background-color: #282c34;
    color: white;
    transition: width 0.3s ease;
    overflow-x: hidden;
    z-index: 1000;
  }
  
.sidebar.expanded {
    width: 200px;
  }
  
.toggle-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    cursor: pointer;
    text-align: left;
    width: 100%;
  }
  
.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 18px 0 0;
  }
  
.sidebar nav li {
    padding: 10px 20px;
  }
  
.sidebar nav a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
  }
  
.sidebar nav .icon {
    font-size: 1.2rem;
    margin-right: 10px;
  }
  /* Hide text when not expanded */
.sidebar .label {
    opacity: 0;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    transition: opacity 0.3s ease, width 0.3s ease;
  }
  
.sidebar.expanded .label {
    opacity: 1;
    width: auto;
  }